{% extends 'base.html.twig' %}


{% block body %}
    {% include 'partial/header.html.twig' %}

<div class="w-11/12 mx-auto mt-8">
    <h2 class="font-bold mb-3 sm:text-2xl lg:text-base">The Stations of Espace Diamant :</h2>
    <div class="tab:flex-wrap flex gap-4   tab:gap-6 xs:gap-4 tab:justify-center  mt-6">

        {% for station in stations %}
            <div class="flex-col justify-items-center">
                <div class="  flex flex-col rounded-lg tab:w-[40vw] tab:h-[40vw] w-[50vw] lg:w-[15vw] lg:h-[40vh] h-[40vh] relative items-center justify-end ">
                    <div class="z-[2] flex flex-col backdrop-blur rounded-lg mb-4 w-10/12 text-[#4D4F51] p-2">

                        <a href="{{ path('station_index', {'id': station.id}) }}"
                           class="sm:hidden ss:hidden lg:block  capitalize">See Station</a>
                        <a href="{{ path('station_index', {'id': station.id}) }}"
                           class="sm:block lg:hidden capitalize">{{ station.StationName }}</a>
                    </div>
                    <img class="object-cover rounded-lg absolute h-full z-[1]"
                         src="https://images.coinsecret.com/images/cs/cs2diapos/ski/50717273.jpg" alt="montagne">

                </div>
                <div class="ss:hidden sm:hidden lg:flex lg:w-[15vw] tab:w-[35vw] w-[50vw] justify-between items-center">
                    <h3 class=" font-semibold sm:text-2xl ss:text-base lg:text-base">{{ station.StationName }}</h3>
                    <ion-icon class="ss:text-base sm:text-2xl" name="arrow-forward-outline"></ion-icon>
                </div>
            </div>
        {% endfor %}

    </div>

    {% if favorite_stations %}
    <div class="flex flex-col mt-12">
        <h2 class="text-2xl font-semibold mb-6">Favorite stations</h2>
        {% for station in favorite_stations %}
            <div class="flex-col justify-items-center">
                <div class="  flex flex-col rounded-lg tab:w-[40vw] tab:h-[40vw] w-[50vw] lg:w-[15vw] lg:h-[40vh] h-[40vh] relative items-center justify-end ">
                    <div class="z-[2] flex flex-col backdrop-blur rounded-lg mb-4 w-10/12 text-[#4D4F51] p-2">

                        <a href="{{ path('station_index', {'id': station.station.id}) }}"
                           class="sm:hidden ss:hidden lg:block  capitalize">See Station</a>
                        <a href="{{ path('station_index', {'id': station.station.id}) }}"
                           class="sm:block lg:hidden capitalize">{{ station.station }}</a>
                    </div>
                    <img class="object-cover rounded-lg absolute h-full z-[1]"
                         src="https://images.coinsecret.com/images/cs/cs2diapos/ski/50717273.jpg" alt="montagne">

                </div>
                <div class="ss:hidden sm:hidden lg:flex lg:w-[15vw] tab:w-[35vw] w-[50vw] justify-between items-center">
                    <h3 class=" font-semibold sm:text-2xl ss:text-base lg:text-base">{{ station.station }}</h3>
                    <ion-icon class="ss:text-base sm:text-2xl" name="arrow-forward-outline"></ion-icon>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% endblock %}
