{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex flex-row w-screen h-screen">
        <form class="lg:w-1/2 w-full flex flex-col h-full justify-center mx-auto items-center">
            <div class="flex flex-col lg:w-1/2 w-8/12 h-[40%] justify-between gap-y-3">
                <h1 class="text-2xl font-bold text-[#1E1E1E]">Create an account</h1>

                {{ form_start(registrationForm) }}
                <div class="bg-white rounded-md py-2 px-4 items-center flex flex-row justify-between">
                    <div class="flex flex-row items-center justify-between">
                        <ion-icon class="w-7 h-7 text-[#3979F6]" name="mail-outline"></ion-icon>
                        <button class="ml-4 text-sm bg-transparent focus:outline-0 placeholder-[#4D4F51] text-[#4D4F51">{{ form_row(registrationForm.email) }}</button>
                    </div>
                </div>
                    <div class="bg-white rounded-md py-2 px-4 items-center flex flex-row justify-between">
                        <div class="flex flex-row items-center w-full justify-between">
                            <div class="flex flex-row items-center ">
                                <ion-icon class="w-7 h-7 text-[#3979F6]" name="lock-open-outline"></ion-icon>
                                <button id="input" class="ml-4 text-sm bg-transparent focus:outline-0 placeholder-[#4D4F51] text-[#4D4F51] input-field">{{ form_row(registrationForm.plainPassword, {
                                        label: 'Password'
                                    }) }}</button>
                            </div>
                            <ion-icon id="showPassword" class="w-7 h-7 text-[#4D4F51]" name="eye-outline"></ion-icon>
                        </div>
                    </div>
                    <div class="items-center flex flex-row justify-between">
                        <div class="flex flex-row items-center justify-between">
                            <button class="ml-4 text-sm items-center text-start bg-transparent flex flex-row focus:outline-0 placeholder-[#4D4F51] text-[#4D4F51]">{{ form_row(registrationForm.agreeTerms) }}
                            <p class="text-[#4D4F51] ml-2">By signing up, i have read an agree to <span class="text-[#3979F6] capitalize font-bold">terms</span> and <span class="text-[#3979F6] capitalize font-bold">privarcy policy</span></p></button>
                        </div>
                    </div>

                <button id="my-button" class="bg-[#3979F6] bg-opacity-50 w-full rounded-md py-2 px-4 text-white submit" type="submit">Register</button>
                {{ form_end(registrationForm) }}
                    <p class="flex mx-auto text-[#1E1E1E]">Already have an account ? <a class="text-[#3979F6]" href="/register">&nbsp; Sign in</a></p>
            </div>
        </form>

        <img id="season" src="/img/montagne.jpeg" alt="montagne" class="h-full lg:flex hidden w-3/6 object-cover">
    </div>

    <style>
        button label {
            display: none;
        }

        #registration_form_agreeTerms{
            width: 2vw;
            height: 2vh;
        }

        input:focus {
            outline: none;
        }
    </style>

    <script>

      const inputField = document.getElementById("registration_form_plainPassword");
      const inputField2 = document.getElementById("registration_form_email");
      const showPassword = document.getElementById("showPassword");
      const myButton = document.getElementById("my-button");

      showPassword.addEventListener("click", function() {
        if (inputField.type === "password") {
          inputField.type = "text";
        } else {
          inputField.type = "password";
        }
      });

      inputField.addEventListener("input", function() {
        if (inputField.value === "") {
          myButton.style.backgroundColor = "rgba(57, 121, 246,0.5)";
        } else {
          myButton.style.backgroundColor = "#3979F6";
        }
      });

      if (inputField) {
        inputField.placeholder = "your password";
      }

      if (inputField2) {
        inputField2.placeholder = "your mail";
      }


    </script>

{% endblock %}
