{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex justify-between w-full h-[753px]">
        <div>
            <h1>Create an account</h1>

            <button>{{ form_start(registrationForm) }}</button>
            <button>{{ form_row(registrationForm.email) }}</button>
                <button>{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                    }) }}</button>
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>

        <img src="/img/montagne.jpeg" alt="montagne" class="h-full w-3/6 object-cover">
    </div>

{% endblock %}
