{% extends 'base.html.twig' %}


{% block body %}



    <div>
        <a href="/station/{{ id }}/asc">asc</a>
        <a href="/station/{{ id }}/desc">desc</a>
        <a href="/station/{{ id }}">default</a>
        <a href="/station/{{ id }}/red">red</a>
        <a href="/station/{{ id }}/blue">blue</a>
        <a href="/station/{{ id }}/green">green</a>
        <a href="/station/{{ id }}/black">black</a>


        {% for slope in slopes %}
            <h3>{{ slope.name }}</h3>
            <p> difficulty :{{ slope.difficulty }}</p>

        {% endfor %}

    </div>
    <div>
        {% for lift in lifts %}

            <h3> lift :{{ lift.id }}</h3>



        {% endfor %}
    </div>

{% endblock %}