{% extends 'base.html.twig' %}


{% block body %}
    {% include 'partial/header.html.twig' %}
    <div class="w-11/12 mx-auto mt-8 flex lg:flex-row flex-column justify-content-between mb-8 mt-24">
        <div class="lg:h-full lg:w-9/12 w-full pr-5">
            <h1 class="text-xl text-[#4D4F51] font-bold tracking-wide">{{ station.StationName }} Station information
                :</h1>
            <div class="mt-8">
                <div class="grid grid-flow-row grid-cols-4 gap-2 lf:flex lg:grid-cols-10 lg:w-full justify-between">
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}/asc">asc</a>
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}/desc">desc</a>
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}">default</a>
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}/red">red</a>
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}/blue">blue</a>
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}/green">green</a>
                    <a class="bg-white text-md py-1 px-3 flex items-center text-[#939393] rounded hover:bg-[#3979F6] hover:text-white uppercase"
                       href="/station/{{ station.id }}/black">black</a>
                </div>
                <div class="flex mt-6 snap-x snap-mandatory overflow-y-hidden">
                    <div class=" snap-start shrink-0 flex flex-row">
                        {% for slope in slopes %}
                            <div class="mr-8 flex flex-col rounded-lg w-[50vw] lg:w-[15vw] lg:h-[40vh] h-[40vh] relative items-center justify-end ">
                                <div class="z-[2] flex flex-col backdrop-blur rounded-lg mb-4 w-10/12 text-[#4D4F51] p-2">
                                    <h3 class="uppercase text-[#3979F6] font-bold">{{ slope.name }}</h3>
                                    <p class="capitalize"> difficulty : {{ slope.difficulty }}</p>
                                </div>
                                <img class="object-cover rounded-lg absolute h-full z-[1]"
                                     src="https://images.coinsecret.com/images/cs/cs2diapos/ski/50717273.jpg"
                                     alt="montagne">
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="flex flex-col w-full justify-between mt-4">
                    <h2 class="uppercase text-[#1E1E1E]">Lost and found items :</h2>
                    <div class="grid grid-flow-row lg:grid-cols-6 grid-cols-3 w-full gap-4 mt-4">
                        <div>
                            {% for slope in slopes %}
                                {% for object in slope.lostAndFoundObjects %}
                                    <div class="flex flex-col bg-white text-md py-1 px-3 flex text-[#939393] rounded">
                                        <h3 class="text-[#4D4F51]">{{ object.description }}</h3>
                                        <h3>Found on slope: {{ slope.name }}</h3>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col lg:w-1/3 w-9/12 mt-8">
                <h2 class="uppercase text-[#1E1E1E]">{{ station.StationName }} lifts </h2>
                <div class="flex flex-row w-full justify-between mt-4">
                    {% for lift in lifts %}
                        <div class="flex flex-col bg-white text-md py-1 px-3 flex text-[#939393] rounded hover:cursor-pointer">
                            <h3 class="uppercase text-[#4D4F51]"> lift n°{{ lift.id }}</h3>
                            <h3 class="capitalize">{{ lift.type }}</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="flex flex-col mt-8">
                <h2 class="uppercase text-[#1E1E1E]">Shops List :</h2>
                <div class="flex mt-6 snap-x snap-mandatory overflow-y-hidden">
                    <div class="snap-start shrink-0 flex flex-row">
                        {% for shop in shops %}
                            <div class="mr-8 flex flex-col rounded-lg w-[50vw] lg:w-[15vw] lg:h-[40vh] h-[40vh] relative items-center justify-end ">
                                <div class="z-[2] flex flex-col backdrop-blur rounded-lg mb-4 w-10/12 text-[#4D4F51] p-2">
                                    <h3 class="uppercase text-[#3979F6] font-bold">{{ shop.name }}</h3>
                                    <p class="capitalize">{{ shop.type }}</p>
                                </div>
                                <img class="object-cover rounded-lg absolute h-full z-[1]"
                                     src="https://www.abritel.fr/guides-voyage/wp-content/uploads/8H1DUaZYWI2eG20WS42c4/a29d35483b5ad97666b2e4e87ae1b919/front__2_.jpg"
                                     alt="montagne">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="h-full w-3/12 ml-8 lg:flex relative hidden">
            <div id="fond" class="bg-no-repeat bg-cover bg-center text-white rounded-xl p-4 w-full fixed w-[19vw] top-24 right-8">
                {% for weatherReport in weatherReports %}
                    <p>Temperature : {{ weatherReport.temperature }}°C</p>
                    <p>{{ weatherReport.temperatureRange }}</p>
                    <p>Felt : {{ weatherReport.temperatureFelt }}°C</p>
                    <p id="weather">Weather : {{ weatherReport.type }}</p>
                    <p>Wind : {{ weatherReport.wind }}km/h</p>
                    <p>Humidity : {{ weatherReport.humidity }}%</p>
                    <p>UV Index : {{ weatherReport.uvIndex }}</p>
                    <p>Avalanche risk : {{ weatherReport.avalancheRisk }}</p>
                    <p>Snow quality : {{ weatherReport.snowQuality }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        //change color depending on the weather
        const weather = document.getElementById('weather').innerText;
        const weatherContainer = document.getElementById('fond');

        if (weather === 'Weather : pluie') {
            weatherContainer.style.backgroundImage = "url('/img/pluie.png')";
        } else if (weather === 'Weather : nuageux') {
            weatherContainer.style.backgroundImage = "url('/img/nuage.png')";
        } else if (weather === 'Weather : soleil') {
            weatherContainer.style.backgroundImage = "url('/img/soleil.png')";
        } else if (weather === 'Weather : neige') {
            weatherContainer.style.backgroundImage = "url('/img/neige.jpeg')";
        } else if (weather === 'Weather : brumeux') {
            weatherContainer.style.backgroundImage = "url('/img/brumeux.png')";
        }
    </script>
{% endblock %}